<!-- Citation for the following form:
// Date: 08/04/2024
// Adapted Based on:
// Source: URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<!-- adopters.hbs -->
<h1>Adopters</h1>
<p>Information on current and potential dog adopters. Manage adopter profiles via search/add/delete operations.</p>

{{!--Create a table--}}
<table id="adopter-table">
    {{!--header section--}}
    <thead>
        {{!--for just the first row, we printe each key of the row object as a header 
        so we know what each column means when the page renders --}}
        <tr>
            <th>Adopter ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Adopter Email</th>
            <th>Phone Number</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!--Body section--}}
    <tbody>
        {{!-- For each row, print the adopterID, firstName, lastName, adopterEmail,
        phoneNumber in order--}}
        {{#each data}}
        <tr data-vaule={{this.adopterID}}>
            <td>{{this.adopterID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.adopterEmail}}</td>
            <td>{{this.phoneNumber}}</td>
            <td><button class="deleteBtn" onclick="deleteAdopter({{this.adopterID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_adopter.js"></script>

{{!-- Form to search by the dog name--}}
<h2>Search by Adopter's Last Name</h2>
<p>Search by adopter's last name using the field below, partial last names are OK too!</p>
<form id="search-adopter-html" method="GET" action="/adopters">
    <label for="input-lastName-html-search">Search by Adopter's Last Name: </label>
    <input type="text" name="lastName" id="input-lastName-html-search">

    <input class="form-small-btn" type="submit" value="Search">
    <a href="/adopters"><button>Reset</button></a>
</form>

{{!--From to add a record to the table using AJAX--}}
<h2>Adding New Adopter</h2>
<P>To add a new adopter, please enter their information below and click 'Submit'!</P>
<form id="add-adopter-form-ajax">
    <div class="form-group">
        <lable for="input-firstName">First Name: </lable>
        <input type="text" name="'input-firstName" id="input-firstName-ajax">
    </div>

    <div class="form-group">
        <lable for="input-lastName">Last Name: </lable>
        <input type="text" name="input-lastName" id="input-lastName-ajax">
    </div>

    <div class="form-group">
        <lable for="input-adopterEmail">Adopter Email: </lable>
        <input type="email" name="input-adopterEmail" id="input-adopterEmail-ajax">
    </div>

    <div class="form-group">
        <lable for="input-phoneNumber">Phone Number: </lable>
        <input type="tel" name="input-phoneNumber" id="input-phoneNumber-ajax">
    </div>

    <input class="form-small-btn" type="submit">
</form>

{{!--Embed our javascript to handle the DOM  manipulation and AJAX request--}}
<script src="./js/add_adopter.js"></script>
