<!-- Citation for the following form:
// Date: 08/04/2024
// Adapted Based on:
// Source: URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<!-- dogAtEvents.hbs -->
<h1>Dog At Events</h1>
<p>You can find the dogs at the certain event, add/update/delete/search the dogs at events.</p>

{{!-- Create a table to display dog at event --}}
<table id="dogAtEvent-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Dog Event ID</th>
            <th>Dog ID</th>
            <th>Event ID</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the dogEventID, dogID, eventID, in order --}}
        {{#each data}}
        <tr data-value ={{this.dogEventID}}>
            <td>{{this.dogEventID}}</td>
            <td>{{this.dogID}}</td>
            <td>{{this.eventID}}</td>
            <td><button class="deleteBtn" onclick="deleteDogAtEvent({{this.dogEventID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_dogAtEvent.js"></script>

<!-- Form to add a record to the table using AJAX -->
<h2>Adding Dog At Event</h2>
<p>To add a new dog at event, please enter their information below and click 'Submit'!</p>
<form id="add-dogAtEvent-form-ajax">
    <label for="input-dogID-ajax">Dog Name: </label>
    <select name="input-dogID" id="input-dogID-ajax">
        <option value="">Select One Dog</option>
        {{#each dogs}}
        <option value="{{this.dogID}}">{{this.dogName}}</option>
        {{/each}}
    </select>
    
    <label for="input-eventID-ajax">Event Name: </label>
    <select name="input-eventID" id="input-eventID-ajax">
        <option value="">Select One Event</option>
        {{#each events}}
        <option value="{{this.eventID}}">{{this.eventName}}</option>
        {{/each}}
    </select>
    <input class="form-small-btn" type="submit">
</form>

<!-- Form to add a record to the dog at event table using AJAX -->
<h2>Update Dog Event Association</h2>
<form id="update-dogAtEvent-form-ajax">
    <label for="update-dogEventID">Dog-Event Association:</label>
    <select id="update-dogEventID">
        <option value="">Select an Association</option>
        {{#each data}}
        <option value="{{this.dogEventID}}">{{this.dogEventID}} {{this.dogID}} {{this.eventID}}</option>
        {{/each}}
    </select>

    <label for="update-dog">Dog Name:</label>
    <select id="update-dog">
        <option value="">Select One Dog</option>
        {{#each dogs}}
        <option value="{{this.dogID}}">{{this.dogName}}</option>
        {{/each}}
    </select>

    <label for="update-eventID">Event Name:</label>
    <select id="update-eventID">
        <option value="">Select One Event</option>
        {{#each events}}
        <option value="{{this.eventID}}">{{this.eventName}}</option>
        {{/each}}
    </select>
    
    <button class="form-small-btn" type="submit">Update Association</button>
</form>
<script src="./js/update_dogAtEvent.js"></script>


{{!-- Form to search by the dog name, event date --}}
<h2>Search Dog At Event</h2>
<p>Search by dog name or event name, partial names are OK too!</p>
<form id="search-dogAtEvent-html" method="GET" action="/dogAtEvents">
    <!-- Search by dog Name -->
    <div>
        <label for = "searchdogID"></label>
        <select name="dogID" id="input-dogID-html-search">
        <option value="">Select by Dog Name</option>
        {{#each dogs}}
        <option value="{{this.dogID}}">{{this.dogName}}</option>
        {{/each}}
    </select>
    </div>
    <div>
        <input class="form-small-btn" type="submit" value="Search">
        <button type="button" onclick="window.location.href='/dogAtEvents';">Reset</button>
    </div>
</form>


<form id="search-dogAtEvent-html" method="GET" action="/dogAtEvents">
    
    <!-- Search by event Date -->
    <div>
        <label for = "searcheventID"></label>
        <select name="eventID" id="input-eventName-ajax">
        <option value="">Select by Event name </option>
        {{#each events}}
        <option value="{{this.eventID}}">{{this.eventName}}</option>
        {{/each}}
    </select>
    </div>

    <div>
        <input class="form-small-btn" type="submit" value="Search">
        <button type="button" onclick="window.location.href='/dogAtEvents';">Reset</button>
    </div>
</form>
<!-- Embed our JavaScript to handle the DOM manipulation and AJAX request -->
<script src="./js/add_dogAtEvent.js"></script>