<!-- Citation for the following form:
// Date: 08/04/2024
// Adapted Based on:
// Source: URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<!-- dogs.hbs -->
<h1>Dogs</h1>
<p>View details about each dog under our care, including their health status, breed, and availability for adoption. Manage dog profiles effectively.</p>

<!-- Create a table to display dogs -->
<table id="dog-table">
    <!-- Header section -->
    <thead>
        <!-- For just the first row, we print each key of the row object as a header 
        so we know what each column means when the page renders -->
        <tr>
            <th>Dog ID</th>
            <th>Dog Name</th>
            <th>Breed</th>
            <th>Health Status</th>
            <th>Sex</th>
            <th>Date of Birth</th>
            <th>Adopter Name</th>
        </tr>
    </thead>

    <!-- Body section -->
    <tbody>
        <!-- For each row, print the dogID, dogName, breed, healthStatus, sex, dateOfBirth, adopterID in order -->
        {{#each data}}
        <tr data-vaule={{this.dogID}}>
            <td>{{this.dogID}}</td>
            <td>{{this.dogName}}</td>
            <td>{{this.breed}}</td>
            <td>{{this.healthStatus}}</td>
            <td>{{this.sex}}</td>
            <td>{{this.dateOfBirth}}</td>
            <td>{{this.adopterID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to search by the dog name--}}
<h2>Search for A Dog By Name</h2>
<p>Search by dog name using the field below, partial names are OK too!</p>
<form id="search-dog-html" method="GET" action="/dogs">
    <label for="input-dogName">Search by Dog Name: </label>
    <input type="text" name="dogName" id="input-dogName-html-search">
    
    <input class="form-small-btn" type="submit" value="Search">
    <a href="/dogs"><button>Reset</button></a>
</form>

<!-- Form to add a record to the table using AJAX -->
<h2>Adding A New Dog</h2>
<p>To add a new dog, please enter their information below and click 'Submit'!</p>
<form id="add-dog-form-ajax">
    <label for="input-dogName">Dog Name: </label>
    <input type="text" name="input-dogName" id="input-dogName-ajax">

    <label for="input-breed">Breed: </label>
    <input type="text" name="input-breed" id="input-breed-ajax">

    <label for="input-healthStatus">Health Status: </label>
    <input type="text" name="input-healthStatus" id="input-healthStatus-ajax">

    <label for="input-sex">Sex: </label>
    <input type="text" name="input-sex" id="input-sex-ajax">

    <label for="input-dateOfBirth">Date of Birth: </label>
    <input type="date" name="input-dateOfBirth" id="input-dateOfBirth-ajax">

    <label for="input-adopterID">Adopter ID (optional): </label>
    <select name="input-adopterID" id="input-adopterID-ajax">
        <option value="">Select an Adopter</option>
        {{#each adopters}}
        <option value="{{this.adopterID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <input class="form-small-btn" type="submit">
</form>
<!-- Embed our JavaScript to handle the DOM manipulation and AJAX request -->
<script src="./js/add_dog.js"></script>

<h2>Updating A Dog's Adopter</h2>
<p>To update a specific user's adopter select their name from the drop-down menu on the left and their desired adopter from the drop down menu on the right.</p>
<form id="update-dog-form-ajax">

    <label for="input-name">Dog Name: </label>
    <select name="input-name" id="update-dog">
        <option value="test">Select one Dog </option>
        {{#each data}}
        <option value="{{this.dogID}}">{{this.dogName}}</option>
        {{/each}}
    </select>
    
    <label for="input-adopterID">Adopter full name: </label>
    <select name="input-adopterID" id="update-adopterID">
        <option>Select an adopter</option>
        {{#each adopters}}
        <option value="{{this.adopterID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <input class="form-small-btn" type="submit">
</form>

<script src="./js/update_dog.js"></script>

