<!-- Citation for the following form:
// Date: 08/04/2024
// Adapted Based on:
// Source: URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<!-- events.hbs -->
<h1>Events</h1>
<p>Find out about upcoming events where you can meet our dogs in person. Manage events including adding, searching event information.</p>

{{!-- Create a table to display event--}}
<table id="event-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Event ID</th>
            <th>Location ID</th>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Description</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the eventID, locaitonID, eventName, eventDate and description, in order --}}
        {{#each data}}
        <tr data-value ={{this.eventID}}>
            <td>{{this.eventID}}</td>
            <td>{{this.locationID}}</td>
            <td>{{this.eventName}}</td>
            <td>{{this.eventDate}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Form to add an event to the table using AJAX -->
<h2>Adding An New Event</h2>
<p>To add a new event, please enter their information below and click 'Submit'!</p>
<form id="add-event-form-ajax">
    <label for="input-locationID">Event Location: </label>
    <!--input type="number" name="input-adopterID" id="input-adopterID"--> 
    <select name="input-locationID" id="input-locationID-ajax">
        <option value="">Select One Location</option>
        {{#each locations}}
        <option value="{{this.locationID}}">{{this.address1}}, {{this.city}}, {{this.state}}</option>
        {{/each}}
    </select>
    
    <label for="input-eventName">Event Name: </label>
    <input type="text" name="input-eventName" id="input-eventName-ajax">

    <label for="input-eventDate">Event Date: </label>
    <input type="date" name="input-eventDate" id="input-eventDate-ajax">

    <label for="input-description">Description: </label>
    <input type="text" name="input-description" id="input-description-ajax">

    <input class="form-small-btn" type="submit">
</form>

{{!-- Form to search by the event name, event date--}}
<h2>Search An Event by Name or Date</h2>
<p>Search by only event name or event date, partial names are OK too!</p>
<form id="search-event-html" method="GET" action="/events">
    <!-- Search by Event Name -->
    <div>
        <label for="input-eventName">Search by Event Name:</label>
        <input type="text" name="eventName" id="input-eventName-html-search">
    </div>
    <div>
        <input class="form-small-btn" type="submit" value="Search">
        <button type="button" onclick="window.location.href='/events';">Reset</button>
    </div>
</form>


<form id="search-event-html" method="GET" action="/events">
    
    <!-- Search by Event Date -->
    <div>
        <label for="input-eventDate">Search by Event Date:</label>
        <input type="date" name="eventDate" id="input-eventDate-html-search">
    </div>

    <div>
        <input class="form-small-btn" type="submit" value="Search">
        <button type="button" onclick="window.location.href='/events';">Reset</button>
    </div>
</form>
<!-- Embed our JavaScript to handle the DOM manipulation and AJAX request -->
<script src="./js/add_event.js"></script>